@font-face {
    font-family: 'Segoe UI';
    src: url(fonts/Segoe\ UI.woff);
    }
@font-face {
    font-family: 'Bell MT';
    src: url(fonts/BellMT.ttf);
}
@font-face {
    font-family: 'Bell MT';
    src: url(fonts/BellMTItalic.ttf);
    font-style: italic;
}
@font-face {
    font-family: 'Candara';
    src: url(fonts/Candara.ttf);
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Bell MT';
}
nav {
    background-color: black;
    text-decoration: none;
    width: 100%;
    height: 3vw;
    display:grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 0.85vw 1.3vw 0.85vw;
    z-index: 3;
}
@media only screen and (max-width: 950px) {
    nav {
        grid-template-rows: 10% 80% 10%;
    }
    ul>li>a>img {
        margin-top: 0.5vw;
    }
}
@media only screen and (max-width: 700px) {
    nav {
        grid-template-rows: 1% 99%;
    }
    ul {
        grid-row: 1;
    }
    li {
        margin-top: -5%;
    }
    ul>li>a>img {
        margin-top: 10%;
    }
}
ul {
    grid-row: 2;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 100%;
    margin: 0;
    grid-column: 2;
    padding: 0;
}
a {
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
    margin: 0;
}
li {
    text-align:center;
    height: 1.3vw;
    list-style-type: none;
}
a:hover {
    opacity: 50%;
    transition: 0.3s;
    cursor: pointer;
}
ul>li>a>img {
    height: 1.5vw;
    object-fit: cover;
}
main {
    background-image: url("images/PFS_6615mørkere-redigeret.jpg");
    background-size: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 25% 70%;
    justify-items: center;
    height: 55vw;
    background-position: bottom center;
    padding: 0;
}
main>img {
    grid-column: 2;
    grid-row: 2;
    height: 10vw;
    z-index: 1;

}
main>a {
    grid-column: 2;
    grid-row: 3;
    z-index: 1;
}
main>a>img {
    height: 30vw;
}
#main-overlay {
    display: block;
    width: 100%;
    height: 55vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}
#title {
    background-image: url("images/PFS_6615mørkere-redigeret.jpg");
    background-size: 100%;
    background-position: center center;
    height: 20vw;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 20% 60% 20%;
    border-top: 0.05vw solid #D7A771;
    border-bottom: 0.05vw solid #D7A771;
}
#title>img {
    width: 100%;
    grid-column: 2;
    grid-row: 2;
    z-index: 1;
}
#title-overlay {
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    height: 20vw;
    width: 100%;
}
#welcome {
    background-color: #132130;
    height: 30vw;
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 3fr 2fr;
    text-align: center;
    align-items: center;
    border-bottom: 0.05vw solid #D7A771;
}
#welcome-text {
    grid-column: 2;
}
h1 {
    font-size: 2vw;
    font-weight: normal;
    line-height: 3.5vw;
    margin: 0;
}
h2 {
    font-size: 1.5vw;
    color: #D7A771;
    font-weight: normal;
}
#welcome-text>img {
    width: 100%;
}
#welcome-buttons {
    grid-column: 4;
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
}
#welcome-buttons>button {
    width: 100%;
    height: 5vw;
    background-color: black;
    border: 0.05vw solid #D7A771;
    font-family: 'Bell MT';
}
#button2 {
    grid-row: 3
}
#welcome-buttons>button>a {
    font-size: 2vw;
}
footer {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% 85% 5%;
    color: white;
    height: 22vw;
    border-top: 0.05vw solid #D7A771;
}
#columns {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1.5fr 0.9fr 1fr 0.8fr;
}
footer>h5 {
    grid-row: 3;
    grid-column: 2;
    text-align: center;
    margin: 0;
}
#columns>div>img {
    width: 80%
}
h3 {
    font-size: 1.5vw;
    text-align: center;
    width: 80%;
    line-height: 3.5vw;
    font-weight: normal;
}
h4 {
    font-size: 1.4vw;
    margin-top: 0;
}
h5 {
    font-size: 1vw;
    margin-top: 1vw;
    font-weight: normal;
}
#social-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: left;
}
#social-buttons>a>img {
    width: 2vw;
}
#menu-covers {
    width: 100%;
    height: 55vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#drinks-cover {
    background-image: url(images/drinks.jpg);
    background-size: 195%;
    background-position: top center;
    display: grid;
    grid-template-rows: 45% 10% 45%;
    grid-template-columns: 30% 40% 30%;
}
#foods-cover {
    background-image: url(images/foods.jpg);
    background-size: 200%;
    background-position: center center;
    display: grid;
    grid-template-rows: 45% 10% 45%;
    grid-template-columns: 30% 40% 30%;
}
.menu-title {
    grid-row: 2;
    grid-column: 2;
    font-size: 5vw;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.3vw;
    z-index: 2;
}
.menu-title:hover {
    opacity: 100%;
}
.cover-overlay {
    width: 50vw;
    height: 55vw;
    grid-row: 2;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.cover-overlay:hover {
    opacity: 0;
    transition: 0.5s;
}
header {
    height: 15vw;
    border-top: 0.05vw solid #D7A771;
    border-bottom: 0.05vw solid #D7A771;
    background-image: url(images/history-header.jpg);
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
#header-overlay {
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    height: 15vw;
    width: 100%;
    z-index: 0;
}
h6 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 5vw;
    margin: 0;
    grid-row: 2;
    letter-spacing: 0.3vw;
    z-index: 1;
}
#history {
    width: 100%;
    height: 35vw;
    background-color: #F6F2E9;
    display: grid;
    grid-template-columns: 13% 37% 2% 48%;
    border-bottom: 0.05vw solid #D7A771;
}
#history-textbox {
    grid-column: 2;
    height: 35vw;
    display: grid;
    grid-template-rows: 15% 70% 15%;
}
#history-textbox>h5 {
    margin: 0;
    opacity: 75%;
    line-height: 1.5vw;
    grid-row: 2;
    border-left: 0.05vw solid #D7A771;
    padding-left: 2vw;
}
#history-sketch {
    grid-column: 4;
    background-image: url(images/history-sketch.png);
    background-size: 110%;
    opacity: 75%;
}
#virtual-tour {
    width: 100%;
    height: 40vw;
    display: grid;
    grid-template-rows: 10% 20% 35% 35% 10%;
}
canvas {
    width: 100%;
    height: 40vw;
    z-index: 0;
}
#virtual-tour>h1 {
    color: white;
    font-size: 1.5vw;
    line-height: 3vw;
    z-index: 3;
    text-align: center;
    grid-row: 2;
    font-weight: bold;
}
#virtual-tour>h2 {
    color: white;
    font-size: 1.5vw;
    line-height: 3vw;
    z-index: 3;
    text-align: center;
    grid-row: 4;
}
#events-header {
    background-image: url(images/events-header.jpg);
    background-position: 50% 30%;
}
#calendar {
    height: 45vw;
    background-color: #132130;
    display: grid;
    grid-template-rows: 7% 70% 7% 16%;
    grid-template-columns: 15% 70% 15%;
}
#calendar-box {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 7% 86% 7%;
    grid-template-columns: 5% 45% 5% 40% 5%;
    background-color: white;
    color: #81544C;
}
p {
    grid-row: 2;
    grid-column: 2;
    font-size: 1.3vw;
    font-family: 'candara';
    line-height: 2vw;
}
#dot {
    grid-row: 3;
    grid-column: 2;
    color: red;
    margin-top: 47%;
    margin-left: 82%;
}
#calendar-box>div {
    grid-row: 2;
    grid-column: 4;
    display: grid;
    grid-template-rows: 12% 3% 65% 20%;
    grid-template-columns: 5% 95%;
    border-left: 0.05vw solid #D7A771;
}
#calendar-box>div>img {
    height: 100%;
    width: 100%;
    grid-row: 3;
    grid-column: 2;
}
#calendar-box>div>div {
    grid-column: 2;
    display: grid;
    grid-template-columns: 60% 22% 18%;
    border-bottom: 0.05vw solid #D7A771;
}
#calendar>h6 {
    grid-row: 4;
    grid-column: 2;
}
#booking {
    background-color: #F6F2E9;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 10vw;
    padding-top: 5vw;
}
.tasting {
    display: grid;
    grid-template-columns: 17% 46% 22% 15%;
    height: 43vw;
}
.tasting-text {
    grid-column: 2;
    height: 43vw;
    display: grid;
    grid-template-rows: 4vw 4vw 31vw 4vw;
    padding-left: 3vw;
    border-left: 0.05vw solid #D7A771;
}
#cocktail-text {
    grid-template-rows: 4vw 4vw 22vw 8vw;
    height: 38vw;
}
#cocktail-text>h3 {
    line-height: 1.8vw;
}
.tasting-text>h1 {
    font-size: 2.5vw;
}
.tasting-text>h2 {
    font-size: 1.5vw;
    color: black;
    margin: 0;
    line-height: 1vw;
}
.tasting-text>h3 {
    width: 100%;
    text-align: left;
    font-size: 1.1vw;
    line-height: 1.6vw;
    margin: 0;
}
.tasting>img {
    width: 100%;
    grid-column: 3;
    opacity: 75%
}
#banqueting {
    display: grid;
    grid-template-columns: 44% 46% 10%;
    height: 43vw;
}
#banquet-image {
    opacity: 75%;
    background-image: url(images/tables.png);
    background-size: cover;
    background-position: 80% 0%;
}
#banquet-text {
    grid-template-rows: 4vw 8vw 20vw 8vw;
    height: 40vw;
}
#banquet-text>h2 {
    line-height: 2vw;
}
#banquet-text>a>button {
    font-family: 'Bell MT';
    background-color: #F6F2E9;
    border: solid 0.05vw black;
    height: 4vw;
    width: 20vw;
    font-size: 2vw
}
#ig-activity {
    background-color: #132130;
    display: grid;
    grid-template-rows: 5vw 4vw 2vw 50vw 5vw;
    grid-template-columns: 25% 50% 25%;
}
#ig-activity>img {
    grid-row: 4;
    grid-column: 2;
    width: 100%;
}
#ig-activity>div {
    grid-row: 2;
    grid-column: 2;
    color: white;
    display: grid;
    grid-template-columns: 10% 90%;
}
#ig-activity>div>div {
    grid-column: 2;
    height: 3vw;
    display: grid;
    grid-template-rows: 2vw 1vw;
    margin-top: 1.2vw;
}
#ig-activity>div>div>h1 {
    line-height: 0;
}
#ig-activity>div>div>h2 {
    line-height: 0;
    color: white;
    margin: 0;
}
#ig-activity>div>a>img {
    height: 4vw;
}
#contact-header {
    background-image: url("images/contact.png");
}
#contact {
    background-color: #132130;
    color:#D7A771;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 0.5vw 75vw 0.5vw;
}
#contact>div {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}
#contact>div>h2 {
    color: white;
    line-height: 2vw;
    font-size: 1.6vw
}
#contact>div>h1 {
    font-size: 2.5vw;
    line-height: 1.6vw;
}
#opening-hours {
    text-align: left;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 1vw;
    margin: 2vw 0;
}
#opening-hours>h2 {
    color: white;
    border-bottom: 0.05vw solid #D7A771;
    padding-bottom: 0.7vw;
    margin: 0;
}
#contact>diV>h4 {
    font-style: italic;
    color: #D7A771;
    font-size: 1.6vw
}
#contact-form {
    display: grid;
    grid-template-rows: 2vw max-content 2vw;
    grid-template-columns: 2vw max-content 2vw;
    justify-items: center;
    border: 0.05vw solid #D7A771;
}
form {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-row-gap: 1.5vw;
}
form>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3vw;
}
input {
    width: 100%;
    color:rgba(0, 0, 0, 0.5);
    font-size: 1.4vw;
    height: 2.5vw;
    font-family: 'candara';
    border-radius: 0;
    border: none;
    background-color: #F6F2E9;
    padding: 0.3vw 0.5vw 0;
}
input:focus {
    outline: none;
}
#submit {
    padding: 0;
    height: 3vw;
    width: 50%;
    justify-self: center;
    border: 0.05vw solid #D7A771;
    background: black;
    color: white;
    font-family: 'Bell MT';
}
#submit:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    cursor: pointer;
}
#message {
    height: 7.5vw;
}